In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('ewp_dsh_post_vaccination_deaths.csv')

In [4]:
df.head()

,Death_date,Voivodship_number,District_number,Sex,Age,Age_category,Comorbidities,Producent,Doses,Reduced_immunity,Number_of_deaths
0,02.01.2021,4,407,K,68.0,65-74,1,NaN,NaN,0,1
1,02.01.2021,4,407,K,90.0,85-94,1,NaN,NaN,0,1
2,02.01.2021,4,407,M,69.0,65-74,1,NaN,NaN,0,1
3,02.01.2021,4,415,M,72.0,65-74,1,NaN,NaN,0,1
4,02.01.2021,4,415,M,77.0,75-84,1,NaN,NaN,0,1